* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnReverce {
  font-size: 18px;
  height: 30px;
  position: absolute;
  top: 500px;
}

.button__group {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 500px;
  height: 40px;
  display: inline-block;
  font-size: 18px;
  /* background-color: rgb(220, 250, 175); */
}

.textares__group {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.textarea {
  width: 500px;
  height: 250px;
  padding: 20px 30px;
  font-size: 20px;
  /* background-color: rgb(215, 255, 215); */
}

/* buttonlarni kombinatsiya */
.btnLotin__group--1 {
  position: absolute;
  top: 255px;
}

.btnLotin__group--2 {
  position: absolute;
  top: 255px;
  right: 0px;
}

.btnClear {
  padding: 4px 10px;
}

.btnCopy {
  padding: 4px 10px;
}

/* Animatsiya */
.animatsiya {
  position: absolute;
  top: -0px;
  transform: translateY(-100px);
}

.main {
  width: 90px;
  height: 90px;
  margin: 120px auto;
  position: relative;
}

.sqr-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: firstSquary;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.sqr-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  animation-name: secondSquary;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.sqr-3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  bottom: 0;
  right: 0;
  animation-name: threeSquary;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.sqr-4 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: fourSquary;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes firstSquary {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(150%, 0);
  }
  /* 50% {
    transform: translate(150%, 150%);
  } */
  50% {
    transform: translate(0%, 150%);
  }
  /* 75% {
    transform: translate(0, 150%);
  } */
}

@keyframes secondSquary {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 150%);
  }
  /* 50% {
    transform: translate(-150%, 150%);
  } */
  50% {
    transform: translate(-150%, -0%);
  }
  /* 75% {
    transform: translate(0 -150%);
  } */
}

@keyframes threeSquary {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(-150%, 0);
  }
  50% {
    transform: translate(0, -150%);
  }
  /* 75% {
    transform: translate(150%, 0);
  } */
}

@keyframes fourSquary {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, -150%);
  }
  50% {
    transform: translate(150%, 0);
  }
  /* 75% {
    transform: translate(150%, 150%);
  } */
}
